.auth-container
  .auth-card
    %h2.auth-title Resend confirmation instructions

    = render "devise/shared/error_messages", resource: resource

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, local: true) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-input"

      .form-actions
        = f.submit "Resend confirmation instructions", class: "btn-primary"

    .auth-links
      = render "devise/shared/links"
