.auth-container
  .auth-card
    %h2.auth-title Sign up

    = render "devise/shared/error_messages", resource: resource

    = form_for(resource, as: resource_name, url: registration_path(resource_name), local: true) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input"

      .form-group
        = f.label :password
        - if @minimum_password_length
          %em.password-hint= "(#{@minimum_password_length} characters minimum)"
        = f.password_field :password, autocomplete: "new-password", class: "form-input"

      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input"

      .form-actions
        = f.submit "Sign up", class: "btn-primary"

    .auth-links
      = render "devise/shared/links"
