.auth-container
  .auth-card
    %h2.auth-title Change your password

    = render "devise/shared/error_messages", resource: resource

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, local: true) do |f|
      = f.hidden_field :reset_password_token

      .form-group
        = f.label :password, "New password"
        - if @minimum_password_length
          %em.password-hint= "(#{@minimum_password_length} characters minimum)"
        = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-input"

      .form-group
        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input"

      .form-actions
        = f.submit "Change my password", class: "btn-primary"

    .auth-links
      = render "devise/shared/links"
