.auth-container
  .auth-card
    %h2.auth-title Forgot your password?

    = render "devise/shared/error_messages", resource: resource

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, local: true) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input"

      .form-actions
        = f.submit "Send me reset password instructions", class: "btn-primary"

    .auth-links
      = render "devise/shared/links"
